*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
  color: #1b1b32;
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
    
}
.contenedor-lista{
    margin: 20px;
    background-color: rgb(58, 48, 48);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 26px;
    box-shadow: -1px 4px 10px 2px rgb(131, 118, 118);
}
/* Lista de tareas  */
.lista-tareas-principal{
 width: 575px;
 min-height: 440px;
 background-color: aliceblue;
 padding: 25px;
 margin: 10px;
 border-radius: 26px;

}
